	
	/*styles sheet for First Independent Project*/
/* File: first-independent-project.html */

* {box-sizing: border-box;}
	
body {
	margin-left:50px; 
	margin-right:50px;
	background-image:url(https://m.media-amazon.com/images/I/81Z2SDWYTAL.jpg);
	background-size:100%;
	color: white}

h1 {
	text-align:center;
	padding-top:1%; 
	padding-bottom:2%; color:white}

.container {background-color: rgb(0,0,0,.5); width:1000px;min-width:500px; height:400px; margin:0 auto}

img {
	border-color: white; 
	opacity:1.0; 
	margin-left:50px}

.title {
	height:5px; 
	background-color: white; 
	margin-top:-28px; 
	margin-left:325px; 
	margin-right:325px}

.icon {
	height:5px; 
	background-color: white; 
	margin-top:20px}


.button {text-align: right; 
	margin-left: 65px; 
	margin-top:-32px}
		
.hashtag {
	margin-left:-4px}

p {
	color:rgb(255,255,255)}

.label {
	margin-left:107px}

#feedback {
	display:block; 
	margin:8px 0}

label {display: block;}

.fieldset {margin-top:1.5vw; margin-bottom:3vw ; margin-left:70vw; margin-right:25vw}